<!DOCTYPE html>
<html>
  <head>
    <title>show_page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skill <%= skill.id %></h1>
    <h2>Language: <%= skill.language %></h2>
    <h2>Proficiency: <%= skill.proficiency %></h2>
    <br><br>
    <a href="/skills">Back</a>
  </body>
</html>
